<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>settings</title>
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/whisper_settings.css') }}">
        <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='assets/favicon.svg') }}">
        <meta name="theme-color" content="#0f1724">
    </head>
    <body>
        <div class="settings-card">
            <h2>settings</h2>
            <form id="settingsForm">
                <label for="token">Rubika bot token</label>
                <input type="text" id="token" placeholder="BCCG..." value="{{ token }}">
                <label for="chat_id">chat id</label>
                <input type="text" id="chat_id" placeholder="chat_id" value="{{ chat_id }}">
                <button type="submit">save</button>
            </form>
            <div id="msg"></div>
            <div class="note">?key=kavan2026</div>
        </div>
        <script src="{{ url_for('static', filename='js/whisper_settings.js') }}"
                defer></script>
    </body>
</html>
